.weatherCard{
    background-color: #0B525B;
    color: white;
    border-radius: 20px;
    padding: 0.5rem 3rem 1rem 3rem ;
    margin-bottom: 2rem;
    box-shadow:-3px 4px 50px -6px rgba(236, 236, 236, 0.72);
    width: 15rem;
}

.temperatureMaxMin{
    display: flex;
    flex-direction: row;
}

h2{
    font-size: 2rem ;
}

#temperature {
    font-size: 3rem;
}