.weatherCard{
    background-color: #0B525B;
    color: white;
    border-radius: 20px;
    padding: 0.5rem 3rem 1rem 3rem ;
    margin-bottom: 2rem;
    box-shadow:-3px 4px 50px -6px rgba(236, 236, 236, 0.72);
    width: 14rem;
}
h2{
    font-size: 1.5rem ;
}

p{margin: 0;}

#temperatureMaxMin{
    display: flex;
    flex-direction: column;
}

.temperatures{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
}

#temperature {
    font-size: 4rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 3rem 0;
}

#humidityDiv{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

#humidity{
font-size: 2.5rem;
}