body{
  background-color: black;
}
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

h1{
  color: white;
}

body{
  background-color: rgb(29, 29, 30);
  font-family: Thasadith;;
}

